<div class="text-center">
    <h1 class=" = "text-info">Thank you for your order</h1>

    <p>We have received your order! Our team will contact you soon!</p>
</div>
<div>
    <img src="/images/content/order.png" class="img-fluid" alt="Woman with a box - ready to send order">
</div>