@{
    ViewData["Title"] = "About";
}
<main role="main">

    
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Who we are</h1>
            <p>
                We are a part of the Atea Group – the leading Nordic IT infrastructure company and the 2nd largest in Europe with more than 7.000 employees and a revenue of more than EUR 3,5 billion in 2017.
            </p>
            <p><a class="btn btn-primary btn-lg" href="https://ateaglobal.com/about-us/" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
     
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-success">Products</h2>
                <p>We offer the products of a high quality brands such as Apple, Lenovo, Hewlett Packard and others. We guarantee that our products will meet your expectations. </p>
                
            </div>
            <div class="col-md-4">
                <h2 class="text-success">Delivery</h2>
                <p>Based on your location we will provide the most convenient delivery. We are cooperating with DPD, Omniva and local Post. Delivery will be free of charge for products with price over 500 EUR. For cheaper products delivery costs will be calculated based on your location.</p>
                
            </div>
            <div class="col-md-4">
                <h2 class="text-success">Returns</h2>
                <p>You can use 14-day return right. That means that you can return bought product at any time during two week period and get paid money back without additional costs except for transportation and post charges.</p>
                
            </div>
        </div>

        <hr>

    </div> 

</main>
