@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Thank you for your e-mail confirmation!</h1>
<div>

    <img src="/images/content/email_confirmation.png" class="img-fluid" alt="E-mail confimed, girl and email sign">

</div>