@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<br/>
<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
<div>
    <img src="/images/content/authentication.png" class="img-fluid" alt="Authentication window and girl">
</div>
